<div class="container-fluid">
  <div class="row">
    <div class="tops">
      <div class="img"><%= image_tag 'img/origin2.jpg' %></div>
        <div class="word">
            <div class="pp">思った事を<br>思いのままに</div>
            <div class="description">こちらは、思った事を素直に<br>つぶやくアプリです</div>
        </div>
    </div>
  </div>
</div>
