<div class="container-fluild">
  <div class="tops">
    <div class="img"><%= image_tag 'img/black_10.jpg' %></div>
        <p class="p1">思った事を</p>
        <p class="p2">思いのままに</p>
  </div>

  <p class="description">こちらは、素直に思った事をつぶやくアプリです</p>
</div>
