<div class="container-fluid">
  <div class="tops">
    <div class="img"><%= image_tag 'img/origin2.jpg' %></div>
      <div class="word">
        <p class="pp1">思った事を</p>
        <p class="pp2">思いのままに</p>
        <div class="description">思った事を素直に<br><br><br>つぶやくアプリです</div>
      </div>
    </div>
  </div>
</div>
