
      <div class="tops">
        <div class="img"><%= image_tag 'img/origin2.jpg' %></div>
          <div class="word">
            <p class="pp">思った事を<br>思いのままに</p>
            <div class="description">思った事を素直に<br>つぶやくアプリです</div>
          </div>
        </div>
      </div>
  
